.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    color: white;
    background-color: green;

    border-radius: 6px;
    padding: 0.2rem 1rem;
}