.text_input {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.label {
    font-size: 10;
}

.input {
    border: 1px solid gray;
    border-radius: 3px;
}

.input::placeholder {
    font-size: 10;
}

.error {
    min-height: 18px;
    margin-top: 4px;

    font-size: 12;
    color: red;
}