.annual_summary {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.annual_summary h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.annual_summary h2 {
    color: gray;
    font-size: 1rem;
}

.resumo {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.renda {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1rem;
    border-radius: 0.5rem;

    color: rgb(22, 101, 52);
    background-color: rgba(34, 197, 94, 0.35);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.despesa {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1rem;
    border-radius: 0.5rem;
    
    color: rgb(56, 3, 3);
    background-color: rgba(239, 68, 68, 0.35);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.saldo {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1rem;
    border-radius: 0.5rem;

    color: rgb(30, 58, 138);
    background-color: rgba(59, 130, 246, 0.35);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.titulo {
    font-size: 14px;
    font-weight: bold;
}

.valor {
    font-size: 25px;
    font-weight: bold;
}