.card_expense_details {
    display: flex;
    flex-direction: column;

    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    margin: 1rem;
    padding: 0rem 1rem 0rem 1rem;

    background-color: white;
}

.card_expense_details h1 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
}

.table_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid gray;
}

.table_row th:last-child {
    color: red;
    font-size: 16;
}

.table_row:last-child {
    border-bottom: none;
    padding-bottom: 2rem;
}
